html {
  font-family: sans-serif;
}

html[data-useragent*='Mac OS X 10_15_7'] {
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
}

html[data-useragent*='Linux'] {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

body {
  margin: 8px;
  background-color: #E6E6E6;
  color: black;
  font-size: 14px;
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: blue;
}

a:visited:hover {
  color: purple;
}

/* init buttons */
.buttons {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.navbox {
  background-color:#E6E6E6;
}

/* Tabs */
.tab {
  position: relative;
  font-weight: normal;
  text-decoration: none;
  padding: 2px 10px 2px;
  
  /* - https://stackoverflow.com/questions/73429024/how-can-i-do-a-rectangle-octagon-with-full-border#73429505 */
  clip-path: border-box polygon(0 6.00px,6.00px 0,100% 0,100% 100%,0 100%);
}

/* The tabs are horizontally laid out on green.png */
.navtab {
  display: flex;
  padding: 6px 4px 0px;
  background-image:url('../../images/green.png');
}

.activetab {
  background: #E6E6E6;
}

.inactivetab {
  background: #999999;
}

 /* Active tab borders (this is probably a really weird workaround, but it seems to work and not break anything for now, so…) */
.activetab:before {
  content: "";
  position: absolute;
  top: 1px;
  right: -2px;
  bottom: -2px;
  left: 1px;
  background: #FFFFFF;
  clip-path: polygon(0 6.00px,6.00px 0,100% 0,100% 100%,0 100%,0 6.00px,1px  calc(6.00px + 0.41px),1px calc(100% - 1px),calc(100% - 1px) calc(100% - 1px),calc(100% - 1px) 1px,calc(6.00px + 0.41px) 1px,1px calc(6.00px + 0.41px));
  
}

.activetab:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -2px;
  left: 0px;
  background: #666666;
  clip-path: polygon(0 6.00px,6.00px 0,100% 0,100% 100%,0 100%,0 6.00px,1px  calc(6.00px + 0.41px),1px calc(100% - 1px),calc(100% - 1px) calc(100% - 1px),calc(100% - 1px) 1px,calc(6.00px + 0.41px) 1px,1px calc(6.00px + 0.41px));
}

/* Inactive tab borders (see above comment) */

.inactivetab:before {
  content: "";
  position: absolute;
  top: 1px;
  right: -2px;
  bottom: -2px;
  left: 1px;
  background: #CCCCCC;
  clip-path: polygon(0 6.00px,6.00px 0,100% 0,100% 100%,0 100%,0 6.00px,1px  calc(6.00px + 0.41px),1px calc(100% - 1px),calc(100% - 1px) calc(100% - 1px),calc(100% - 1px) 1px,calc(6.00px + 0.41px) 1px,1px calc(6.00px + 0.41px));

}

.inactivetab:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -2px;
  left: 0px;
  background: #666666;
  clip-path: polygon(0 6.00px,6.00px 0,100% 0,100% 100%,0 100%,0 6.00px,1px  calc(6.00px + 0.41px),1px calc(100% - 1px),calc(100% - 1px) calc(100% - 1px),calc(100% - 1px) 1px,calc(6.00px + 0.41px) 1px,1px calc(6.00px + 0.41px));
}

/* cgoban init page 
 it took me about a dozen hours of searching, and about a year off from trying to get the darn guy in the middle of the page lmao */
.cgoban {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


/* Scrollbar stuffs; I wish to give credit where credit is due. See the following and maybe you can make your own scrollbar, too:
- https://stackoverflow.com/questions/9060421/css3-how-to-restore-webkit-scrollbar-property-to-the-default-scroll-bar/72511916#72511916 
- https://stackoverflow.com/questions/47576815/how-to-add-arrows-with-webkit-scrollbar-button/66050759#66050759 
- This _awesome_, super-specific scrollbar debugger: https://almaer.com/scrollbar/debug.html
- Also nice: https://css-tricks.com/custom-scrollbars-in-webkit/ 

  -> I am aware that the horizontal scrollbar doesn't look right or have the single buttons when you zoom in. I am not sure how much I care right now.
*/

/* Scrollbar width */
::-webkit-scrollbar {
  width:14px;
}

/* Debugging - if anything's red, there's an issue somewhere*/
::-webkit-scrollbar-button:vertical {
    background-color: red;
    border: 2px dashed blue;
}

/* Top and bottom buttons */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display:block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Scroll button template */
::-webkit-scrollbar-button {
  display:block;
  background-color:ButtonFace;
  height: 14px;
  width: initial;
  background-position: center;
  background-size:10px 10px;
  image-rendering: pixelated;
  background-repeat:no-repeat;
}

/* Bottom scroll button ("down") */
::-webkit-scrollbar-button:vertical:increment {
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(110, 110, 110);
    border-radius: 8px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='50,85 0,25 100,25'/></svg>");
}

/* Top scroll button ("up") */
::-webkit-scrollbar-button:vertical:decrement {
  background-color: rgb(221, 221, 221);
  border: 1px solid rgb(110, 110, 110);
  border-radius: 8px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='50,30 0,90 100,90'/></svg>");
}

/* Track  */
::-webkit-scrollbar-track {
    background-color: rgb(204, 204, 204);
    border: inset 1px rgb(178, 178, 178);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgb(65, 65, 65), rgb(130, 130, 130), rgb(30, 30, 30), rgb(1, 1, 1));
  border-radius: 10px;
}
