/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try looking on W3schools CSS “how-to“ feature list, or searching online for questions like
   "how to change link color." */

body {
  background-color: white;
  color: black;
  font-family: "Courier New", monospace;
}
